<div class="container" id="homecontainer">
  <div class="jumbotron  text-center text-white">
    <h1 class="display-4">Welcome to e-learning app!</h1>
    <p class="lead">Dive into interactive lessons and quizzes designed to ignite your curiosity and fuel your learning journey.</p>
    <hr class="my-4">
    <p>Explore, engage and excel with us today!</p>
  </div>
</div>